@use "../abstract/functions" as func;
@use "../abstract/mixins";
@use "../abstract/variables" as var;

.footer {
  padding: 20px 40px;
  text-align: center;
  color: func.set-text-color(variables.$primary-bg-color);
  background-color: var.$primary-bg-color;
}

@include mixins.media-md {
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
